@font-face {
    font-family: 'JosefinSans Light';
    src: url(./font/JosefinSans-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'JosefinSans Light', sans-serif; /* 增加备用字体 */;
    background: url('./image/bg1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.player {
    width: 380px;
    height: 280px;
    position: relative;
    overflow: hidden;
    border-radius: 5px  ;
    box-shadow:  5px 5px 15px  rgba(179, 76, 21, 0.856);
    /* background-color: #de2e2e; */
    transition: all 0.5s ease ease-in-out;    
}

.player .img {
    width: 100%;
    height: 100%;
    user-select: none;
}

.player .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    transition: .5s all ease-in-out;
}
